/* You can add global styles to this file, and also import other style files */

input {
    border:  1px solid rgb(74, 74, 74) !important;
}

select {
    border:  1px solid rgb(74, 74, 74) !important;
}

a {
    cursor: pointer;
}


#logoHeading{
    font-family: 'edo';
}
#logoHeading2{
    font-family: 'edo';    
}
@font-face {
    font-family: larken;
    // src: url('./LarkenDEMO-Regular.otf');
    src: url('./assets/LarkenDEMO-Regular.otf');
}
@font-face{
    font-family: edo;
    src: url('./assets/edo.ttf');
}
@font-face{
    font-family: baloo;
    src: url('./assets/BalooBhaijaan.ttf');
}


.custom-heading {
  font-size: 22px;
  margin: 20px 0;
  text-align: center;
//   font-family: 'Lato', sans-serif;
  font-family: 'baloo', sans-serif;
  color: #2c3e50;
  letter-spacing: 1px; 
  text-transform: uppercase; 
  padding: 10px;
  background: linear-gradient(90deg, #007bff 0%, #0056b3 100%); 
  color: white; 
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  border-radius: 10px;
}

.balooFont{
    font-family: baloo, sans-serif;
}