<p>add-feedback</p>

<div class="container">
  <h2 class="text-center mb-5">Provide Feedback</h2>

  <form [formGroup]="feedbackForm" (ngSubmit)="onSubmit()">
    <div class="form-outline mb-4">
      <label class="form-label" for="feedback">Feedback</label>
      <textarea id="feedback" formControlName="feedback" class="form-control"></textarea>
      <div *ngIf="feedbackForm.get('feedback')?.errors?.['required'] && feedbackForm.get('feedback')?.touched" class="text-danger">
        <small>Feedback is required</small>
      </div>
    </div>

    <button type="submit" class="btn btn-primary btn-block" [disabled]="feedbackForm.invalid">Submit Feedback</button>

    <div *ngIf="errorMessage" class="text-danger mt-3">
      {{ errorMessage }}
    </div>
  </form>
</div>

