<div class="container mt-5">
  <div class="card shadow p-4 mx-auto" style="max-width: 600px;">
    <h2 class="text-center mb-4 custom-heading">Create Event</h2>

    <form [formGroup]="itemForm" (ngSubmit)="onSubmit()">
      <div class="form-group mb-3">
        <label for="title" class="form-label">Title*</label>
        <input type="text" id="title" formControlName="title" class="form-control" />
        <div *ngIf="itemForm.get('title')?.errors?.['required'] && itemForm.get('title')?.touched" class="text-danger mt-1">
          <small>Title is required</small>
        </div>
      </div>

      <div class="form-group mb-3">
        <label for="schedule" class="form-label">Schedule*</label>
        <input type="date" id="schedule" formControlName="schedule" class="form-control" />
        <div *ngIf="itemForm.get('schedule')?.errors?.['required'] && itemForm.get('schedule')?.touched" class="text-danger mt-1">
          <small>Schedule is required</small>
        </div>
        <div *ngIf="itemForm.get('schedule')?.errors?.['minDate']" class="text-danger mt-1">
          <small>
            Date cannot be lessthen today
          </small>
        </div>
      </div>

      <div class="form-group mb-3">
        <label for="location" class="form-label">Location*</label>
        <input type="text" id="location" formControlName="location" class="form-control" />
        <div *ngIf="itemForm.get('location')?.errors?.['required'] && itemForm.get('location')?.touched" class="text-danger mt-1">
          <small>Location is required</small>
        </div>
      </div>

      <div  [hidden]="true
      
      "  class="form-group mb-3  ">
        <label for="status" class="form-label">Status</label>
        <select id="status" formControlName="status" class="form-select">
          <option value="" disabled>Select status</option>
          <option value="Active">Active</option>
          <option value="Inactive">Inactive</option>
        </select>
        <div *ngIf="itemForm.get('status')?.errors?.['required'] && itemForm.get('status')?.touched" class="text-danger mt-1">
          <small>Status is required</small>
        </div>
      </div>

      <div class="form-group mb-3">
        <label for="description" class="form-label">Description*</label>
        <textarea id="description" formControlName="description" class="form-control" rows="3"></textarea>
        <div *ngIf="itemForm.get('description')?.errors?.['required'] && itemForm.get('description')?.touched" class="text-danger mt-1">
          <small>Description is required</small>
        </div>
      </div>

      <div class="d-grid">
        <button type="submit" class="btn btn-primary btn-lg" [disabled]="itemForm.invalid">Create Event</button>
      </div>

      <div *ngIf="errorMessage" class="alert alert-danger mt-3" role="alert">
        {{ errorMessage }}
      </div>
    </form>
  </div>
</div>
