<div class="container mt-4 d-flex justify-content-center align-items-center">
  <div class="row w-100">
    <div class="col-md-3 mb-4" *ngIf="isInstitution">
      <div class="card h-100">
        <img src="https://cdni.iconscout.com/illustration/premium/thumb/man-create-a-calendar-event-illustration-download-in-svg-png-gif-file-formats--creation-planning-time-management-sign-pack-business-illustrations-10814187.png" class="card-img-top" alt="Create Event">
        <div class="card-body d-flex flex-column justify-content-center">
          <h5 class="card-title">Create Event</h5>
          <p class="card-text">Organize a new event for your institution.</p>
          <button class="btn btn-primary mt-auto" (click)="createEvent()">Create Event</button>
        </div>
      </div>
    </div>
    <div class="col-md-3 mb-4" *ngIf="isInstitution">
      <div class="card h-100">
        <img src="https://cdni.iconscout.com/illustration/premium/thumb/business-schedule-planning-illustration-download-in-svg-png-gif-file-formats--management-plans-tasks-scheduling-activities-pack-professionals-illustrations-4357794.png" class="card-img-top" alt="View Events">
        <div class="card-body d-flex flex-column justify-content-center">
          <h5 class="card-title">View Events</h5>
          <p class="card-text">Browse and manage your events.</p>
          <button class="btn btn-primary mt-auto" (click)="viewEvents()">View Events</button>
        </div>
      </div>
    </div>
    <div class="col-md-3 mb-4" *ngIf="isInstitution">
      <div class="card h-100">
        <img src="https://cdni.iconscout.com/illustration/premium/thumb/human-resources-management-illustration-download-in-svg-png-gif-file-formats--applicant-tracking-system-various-themes-set-042-pack-business-illustrations-6526282.png?f=webp" class="card-img-top" alt="Add Resource">
        <div class="card-body d-flex flex-column justify-content-center">
          <h5 class="card-title">Add Resource</h5>
          <p class="card-text">Add new resources for your institution.</p>
          <button class="btn btn-primary mt-auto" (click)="addResource()">Add Resource</button>
        </div>
      </div>
    </div>
    <div class="col-md-3 mb-4" *ngIf="isInstitution">
      <div class="card h-100">
        <img src="https://cdni.iconscout.com/illustration/premium/thumb/human-resources-agency-for-effective-migrant-illustration-download-in-svg-png-gif-file-formats--workers-business-people-character-person-marketing-investment-pack-illustrations-6459856.png?f=webp" class="card-img-top" alt="Assign Professional">
        <div class="card-body d-flex flex-column justify-content-center">
          <h5 class="card-title">Assign Professional</h5>
          <p class="card-text">Assign professionals to various tasks.</p>
          <button class="btn btn-primary mt-auto" (click)="assignProfessional()">Assign Professional</button>
        </div>
      </div>
    </div>
  </div>
</div>
