<nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm px-3 sticky-top">
  <div class="container-fluid">
    <a id="logoHeading2" class="navbar-brand font-weight-bold nxtTxt" routerLink="/" >Fin<span class="text-primary">Seminar</span></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">      
      <div class="me-auto">
        <!-- INSTITUTION -->
        <ul *ngIf="isInstitution" class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" routerLink="/dashboard">Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="createEvent()">Create Event</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="viewEvents()">View Events</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="addResource()">Add Resource</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="assignProfessional()">Assign Professional</a>
          </li>
        </ul>

        <!-- PROFESSIONAL -->
        <ul *ngIf="isProfessional" class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" (click)="viewAssignedEvents()">Assigned Events</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="viewFeedback()">Feedback</a>
          </li>
        </ul>

        <!-- PARTICIPANTS -->
        <ul *ngIf="isParticipant" class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" (click)="viewAllEvents()">View Events</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="viewFeedback()">Feedback</a>
          </li>
        </ul>
      </div>

      <div *ngIf="isInstitution || isProfessional || isParticipant" class="d-flex align-items-center balooFont">
        <span class="navbar-text me-2">
          <strong>Role: </strong> {{ userRole }}
        </span>
        <button class="btn btn-danger circular-hover" (click)="logout()">Logout</button>
      </div>

        <!-- Add Login and Register buttons -->
        <div *ngIf="!isInstitution && !isProfessional && !isParticipant" class="d-flex align-items-center ms-auto balooFont">
            <a class="btn btn-outline-primary me-2" routerLink="/login" >Login</a>
            <a class="btn btn-primary" routerLink="/registration" >Register</a>
        </div>

    </div>
  </div>
</nav>