<div>
  <h2>View Events</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Description</th>
        <th>Institution ID</th>
        <th>Location</th>
        <th>Schedule</th>
        <th>Status</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let event of events">
        <td>{{ event.id }}</td>
        <td>{{ event.title }}</td>
        <td>{{ event.description }}</td>
        <td>{{ event.institution_id }}</td>
        <td>{{ event.location }}</td>
        <td>{{ formatDate(event.schedule) }}</td>
        <td>{{ event.status }}</td>
        <!-- <td>
          <button class="btn btn-primary" (click)="viewEvent(event.id)">Update Status</button>
        </td> -->
        
        <td>
        <button *ngIf="userRole == 'INSTITUTION'" class="btn btn-primary" (click)="updateDetail(event.id)">Update
          Detail</button>
          <button *ngIf="userRole == 'PROFESSIONAL'" class="btn btn-secondary"
            (click)="enrollInEvent(event.id)">Enroll</button>
          <button *ngIf="userRole == 'PARTICIPANT'" class="btn btn-warning" (click)="provideFeedback(event.id)">Enroll
            in Event</button>
        </td>

      </tr>
    </tbody>
  </table>
</div>