<div class="container my-4">
  <h2 class="text-center custom-heading">View Events</h2>
  <table class="table table-striped table-hover">
    <thead class="thead-dark">
      <tr>
        <th scope="col">S. No.</th>
        <!-- <th scope="col">Institution ID</th> -->
        <th scope="col">Title</th>
        <th scope="col">Description</th>
        <th scope="col">Location</th>
        <th scope="col">Schedule</th>
        <th scope="col">Status</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let event of events; let i = index">
        <td>{{ i+1 }}</td>
        <!-- <td>{{ event.institutionId }}</td> -->
        <td>{{ event.title }}</td>
        <td>{{ event.description }}</td>
        <td>{{ event.location }}</td>
        <td>{{ formatDate(event.schedule) }}</td>
        <td>{{ event.status }}</td>
        <td>
          <div class="btn-group" role="group">
            <button *ngIf="userRole === 'INSTITUTION'" class="btn btn-primary btn-sm" (click)="updateDetail(event.id)">
              Update Detail
            </button>
            <button *ngIf="userRole === 'PROFESSIONAL'" class="btn btn-secondary btn-sm" (click)="updateEventStatusBtn(event.id)">
              Update Status
            </button>
            <button *ngIf="userRole === 'PARTICIPANT'" class="btn btn-warning btn-sm" (click)="enrollInEvent(event.id)" 
              [disabled]="enrollmentStatus[event.id] === 'ENROLLED'">
              {{ enrollmentStatus[event.id] === 'ENROLLED' ? 'Enrolled' : 'Enroll in Event' }}
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
